<div class="grid-x grid-margin-x">
    <div class="cell large-12">
        <h3>Ничего не найдено</h3>
        <p>
            <a class="button" href="/books">Назад к списку книг</a>
        </p>
    </div>
</div>