<div class="grid-x grid-margin-x">
    <div class="cell large-12">
        <h3>Тарифный план не определён</h3>
        <p>
            <a class="button" href="/subscribers">Назад к главной странице</a>
        </p>
    </div>
</div>