<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Сотрудники</title>
    <meta name = "author" content="Arseniy Fokin">
  </head>
  <body>
    <h1>Сотрудники компании</h1>
    <ul>
      
        <li>Иван Семёнов <a href= ИванСемёнов.html > >>> </a> </li>
      
        <li>Сергей Краснов <a href= СергейКраснов.html > >>> </a> </li>
      
        <li>Наталья Лихачёва <a href= НатальяЛихачёва.html > >>> </a> </li>
      
        <li>Пётр Соловьёв <a href= ПётрСоловьёв.html > >>> </a> </li>
      
    </ul>
  </body>
</html>